:root {
  --primaryBtnBgColor: #DB4C38;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ramaraja&display=swap');

.container {
  max-width: 1440px !important;
  margin: auto;
  padding: 0px !important;
}
#navbarSupportedContent .navbar-nav .nav-link {
  color: var(--black, #242424);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.6px;
  letter-spacing: 1px;
}
#navbarSupportedContent .navbar-nav .nav-link.active {
  color: var(--primaryBtnBgColor);
}